{% load compress %}
{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <title>Sample Project - Page 1</title>
{% compress js %}
    <script src="{% static "js/jquery-1.8.2.js" %}"></script>
    <script src="{% static "ts/page1.ts" %}" type="text/typescript"></script>
{% endcompress %}
{% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static "scss/page1.scss" %}" />
{% endcompress %}
</head>
<body>
<h1>Page 1</h1>
<div id="content1">Loading...</div>
<div id="content2">Loading...</div>
</body>
</html>
